.hasSpan {
    border-radius: 10px;
    height: 75px;
    width: 75px;
    display: inline-block;
    outline: 3px solid black;
    margin: 20px;
    background: beige no-repeat;
}

.wrapper{
    width: 75%;
    display: block;
    margin: auto;
}

button
{
    color: white;
    background-color: blue;
    margin-left: 20px;
}

h5{
    display: inline-block;
    padding-right: 250px;
}

label
{
    font-weight: bold;
}